prometheus:
  prometheusSpec:
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}

grafana:
  additionalDataSources:
    - name: Loki
      access: proxy
      editable: false
      jsonData:
        httpHeaderName1: 'X-Scope-OrgID'
        tlsSkipVerify: true
      secureJsonData:
        httpHeaderValue1: 'test'
      orgId: 1
      type: loki
      url: http://loki:3100
      version: 1
    - name: Tempo
      access: proxy
      editable: false
      orgId: 1
      type: tempo
      url: http://tempo:3100
      version: 1
        
